body{

	background-color: #000000;
}

main{

	padding: 0px 40px;
}


.containerSlider{

	width: 100%;
	position: relative;
	margin:0px auto;
	overflow: hidden;
	.blockSlide{

		white-space: nowrap;
		.slide{

			display: inline-block;
			background-size: 100%;
			background-repeat: no-repeat;
			margin-right: -4px;

		}
	}

}

.btn{

	position: absolute;
	width: 50px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 40%;
	background-color: rgba(255,255,255, 0.5);
	border:none;
}

.left{

	left: 0px;
}

.right{

	right:0px;
}



